<%= form_for @party do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %> <%= f.text_field :name %>
  </p>
	<br />
  <p>
		<%= f.label :party_type_id %> <%= f.collection_select :party_type_id, PartyType.all, :id, :name, :prompt => "Select ..." %>
  </p>
	<br />
  <p>
    <%= f.label :party_date %> <%= f.date_select :party_date, :order => [:month, :day, :year] %>
  </p>
	<br />
	<p>
		<%= f.label :location_id %> <%= f.collection_select :location_id, Location.for_host(current_host), :id, :name, :prompt => "Select ..." %>
<!--		<%= f.label :location %> <%= f.text_field :location %> -->
  </p>
	<br />
  <p>
    <%= f.label :start_time %> <%= f.time_select :start_time %>
  </p>
	<br />
  <p>
    <%= f.label :end_time %> <%= f.time_select :end_time %>
  </p>
	<br />
  <p>
    <%= f.label :description %> <%= f.text_field :description %>
  </p>
	<br />
  <p>
    <%= f.label :rsvp_date %> <%= f.date_select :rsvp_date, :order => [:month, :day, :year] %>
  </p>
	<br />

	<br />
  <p><%= f.submit %></p>
<% end %>
	<br />
