<span id="button" class="button theme-color right">
	<%= link_to "Host a New Party", :controller => 'parties', :action => 'new' %>
</span>
<p>Here are your upcoming parties:</p>
<table id="horz-Minimalist">

	<!-- Table Header -->
	<thead>
		<tr>
		  <th>Name</th>
		  <th>Date</th>
		  <th>Start Time</th>
		</tr>
	</thead>

	<!-- Table Body -->
	<tbody>
		<% for party in @parties %>
		  <tr>
				<% if !party.nil? %>
		    <td><%= link_to party.name, party %></td>
		    <td><%= party.party_date.strftime("%B %d, %Y") if !party.party_date.nil? %></td>
		    <td><%= party.start_time.strftime("%I:%M%P") %></td>
		    <td><%= link_to image_tag("edit-icon.svg"), edit_party_path(party) %></td>
				<% end %>
		  </tr>
		<% end %>
	</tbody>

</table>

<span>
	<%= will_paginate @parties, :previous_label => "Previous&nbsp;", 
													 		:next_label => "&nbsp;Next" %>
</span>
