<h1><% title "My Parties" %></h1>

<span id="button" class="button theme-color right">
	<%= link_to image_tag("add-icon.ico"), :controller => 'parties', :action => 'new' %>
	<%= link_to "Host a New Party", :controller => 'parties', :action => 'new' %>
</span>

<table id="horz-Minimalist">

	<!-- Table Header -->
	<thead>
		<tr>
		  <th>Name</th>
		  <th>Date</th>
		  <th>Start Time</th>
		  <th>End Time</th>
			<th>RSVPs</th>
		</tr>
	</thead>

	<!-- Table Body -->
	<tbody>
		<% for party in @parties %>
		  <tr>
		    <td><%= link_to party.name, party %></td>
		    <td><%= party.party_date.strftime("%B %d, %Y") %></td>
		    <td><%= party.start_time.strftime("%I:%M%P") %></td>
		    <td><%= party.end_time.strftime("%I:%M%P") %></td>
		    <td><%= party.rsvp_date.strftime("%B %d, %Y") if party.rsvp_date %></td>
		    <td><%= link_to image_tag("edit-icon.svg"), edit_party_path(party) %></td>
		    <td><%= link_to image_tag("delete-icon.svg"), party, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>

</table>

<span>
	<%= will_paginate @parties, :previous_label => "Previous&nbsp;", 
													 		:next_label => "&nbsp;Next" %>
</span>


