<%= form_for @guest do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :invite_code %><br />
    <%= f.text_field :invite_code %>
  </p>
  <p>
    <%= f.label :expected_attendees %><br />
    <%= f.text_field :expected_attendees %>
  </p>
  <p>
    <%= f.label :actual_attendees %><br />
    <%= f.text_field :actual_attendees %>
  </p>
  <p><%= f.submit %></p>
<% end %>
