<% title "My Guests" %>

<span id="button" class="button theme-color right">
	<%= link_to image_tag("add-icon.ico"), :controller => 'guests', :action => 'new' %>
	<%= link_to "Add A New Guest", :controller => 'guests', :action => 'new' %>
</span>

<table id="horz-Minimalist">

	<!-- Table Header -->
	<thead>
		<tr>
		  <th>Name</th>
		  <th>Email</th>
		</tr>
	</thead>

	<!-- Table Body -->
	<tbody>
		<% for guest in @guests %>
		  <tr>
		    <td><%= link_to guest.name, guest %></td>
				<td><%= guest.email %>
		    <td><%= link_to image_tag("edit-icon.svg"), edit_guest_path(guest) %></td>
		    <td><%= link_to image_tag("delete-icon.svg"), guest, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
	</tbody>

</table>

<span>
	<%= will_paginate @guests, :previous_label => "Previous&nbsp;", 
														 :next_label => "&nbsp;Next" %>
</span>
