<% title "Guests" %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Invite Code</th>
    <th>Expected Attendees</th>
    <th>Actual Attendees</th>
  </tr>
  <% for guest in @guests %>
    <tr>
      <td><%= guest.name %></td>
      <td><%= guest.email %></td>
      <td><%= guest.invite_code %></td>
      <td><%= guest.expected_attendees %></td>
      <td><%= guest.actual_attendees %></td>
      <td><%= link_to "Show", guest %></td>
      <td><%= link_to "Edit", edit_guest_path(guest) %></td>
      <td><%= link_to "Destroy", guest, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Guest", new_guest_path(guest) %></p>
