<% title "#{@guest.name} | Guest Details" %>

<div id="show" class="left">
<!--
	<p>
		<strong>Name:</strong>
		<%= @guest.name %>
	</p>
-->
	<p>
		<strong>Email:</strong>
		<%= @guest.email %>
	</p>
	<p>
		<strong>Notes:</strong>
		<%= @guest.notes %>
	</p>
	<br />
	<p>
		<%= link_to "Edit", edit_guest_path(@guest) %> |
		<%= link_to "Destroy", @guest, :confirm => 'Are you sure?', :method => :delete %> |
		<%= link_to "View All", guests_path %>
	</p>
</div>
