<% title "Guest" %>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>
<p>
  <strong>Invite Code:</strong>
  <%= @guest.invite_code %>
</p>
<p>
  <strong>Expected Attendees:</strong>
  <%= @guest.expected_attendees %>
</p>
<p>
  <strong>Actual Attendees:</strong>
  <%= @guest.actual_attendees %>
</p>

<p>
  <%= link_to "Edit", edit_guest_path(@guest) %> |
  <%= link_to "Destroy", @guest, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", guests_path %>
</p>
