<% if @invitation.nil? %>
	<% title "RSVP Step 1 of 2 - Enter your Invite Code" %>
	Sorry, the invite code you entered could not be found.
<% else %>
	<% title "RSVP Step 2 of 2 - Enter number of people attending" %>
	<p>
		<strong>Party:</strong>
		<%= @party.name %>
	</p>
	<p>
		<strong>Date:</strong>
		<%= @party.party_date.strftime("%B %d, %Y") %>
	</p>
	<p>
		<strong>Location:</strong>
		<%= @party.location.name %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= @party.start_time.strftime("%I:%M %p") %> - 
		<%= @party.end_time.strftime("%I:%M %p") %>
	</p>
	<p>
		<strong>Description:</strong>
		<%= @party.description %>
	</p>
	<br /><br />
	<%= form_tag({:controller => "invitations", :action => "rsvp_complete"}, :method => "post") do %>
	  <%= label_tag(:invitation_actual_attendees, "RSVP - Number of attendees:") %>
	  <%= text_field_tag(:invitation_actual_attendees) %>
		<%= hidden_field_tag(:id, @invitation_id) %>
	  <%= submit_tag("RSVP") %>
	<% end %>
<% end %>
